@media(min-widht:670px) and (max-widht:1024px){
.photo_name{
    width:70%;
    margin: 0 auto;
    align-items: center;
    float: none;
}
.photo_name img{
    width: 250px;
    height: 250px;
    float: none;
    display: flex;
    margin: 20px auto;
}
.photo_name hi{
    float: none;
    widht: 100%;
    text-align: center;
}
.flex_box{
    flex-wrap: wrap;
}
.flex_box li{
    widht: 50%;
}
.flex_box p{
    text-align: center;
}
}