* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Snas' ,sans-serif;
}

.container {
    width: 1000px;
    min-height: 200px;
}


.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #4B3869;
}

.menu {
    float: right;
    line-height: 100px;
    color: #ffffff;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #664E88;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

Nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #A45D5D;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom2{
    margin: auto;
    display: flex;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: none;
    font-family: 'Oupen Sans';
}

.kolom2{
    margin-top: 50px;
    margin-bottom: 50px;
}

a.tbl-ungu{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1px 25px 20px 25px;
    color: #000000;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #A45D5D;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #F8485E;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #8E2657;
    text-decoration: none;
}

a.tbl-pink {
    background: #8E2657;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #F8485E;
    text-decoration: none;
}
a.tbl-merah {
    background: #664E88;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.Hobby-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-hobby {
    width: 20%;
    margin: 0 auto;
}

.kartu-hobby img {
    width: 80%;
    border-radius: 50%;
}

.kartu-hobby p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #A45D5D;
}

.contact-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 150px;
    border-radius: 50px;
}

#contact {
    background: #FFADAD;
    padding: 100px 10px 100px 10px;
}

a.tbl-black {
    background: #F3D5C0;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-putih:hover {
    background: #F3D5C0;
    text-decoration: none;
}

a.tbl-black:hover {
    background: #889EAF;
    text-decoration: none;
}
a.tbl-white {
    background: #FFEF78;
    text-decoration: none;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}


.footer-section {
    width: 30%;
    margin: 0 auto;
    color: #F9F9F9;
}

h3 {
    color: #F9F9F9;
    position: relative;
}

h4 {
    color: #ffffff;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #664E88;
    width: 100%;
    line-height: 50px;
}


#copyright {
    width: 30%;
    text-align: center;
    width: 10%;
    padding: 50px 0px 50px 0px;
}
